/* ==========================================================================
   MAIN LOGO
   ========================================================================== */

.c-logo-main {
  position: absolute;
  top: 18px;
  width: 200px;
  @media(width >= $bp-medium) {
    top: 12px;
  
  } 
  z-index: z(default);
  & a {
    display: block;
    font-family: $font-secondary;
    font-size: 30px;
    @media(width >= $bp-medium) {
      font-size: 40px;
    
    } 
    color: $color-gray-dark;
 
  }
  & img {
    display: block;
    width: 150px;
    height: auto;
    max-height: $page-header-height;
    @media (width >= $bp-medium) {
      width: 200px;
     } 
  }
}
