/* ==========================================================================
   MAIN LOGO
   ========================================================================== */

.c-logo-main {
  position: absolute;
  top: 12px;
  z-index: z(default);
  & a {
    display: block;
    font-family: $font-secondary;
    font-size: clamped(20px, 40px);
    color: $color-gray-dark;
 
  }
  & img {
    display: block;
    width: 150px;
    height: auto;
    max-height: $page-header-height;
    @media (width >= $bp-medium) {
      width: 200px;
     } 
  }
}
